.container1{
  background-color: #24263c ;
  height: 100vh;
  overflow: hidden;
}
.container2{
  background-color:#475569 ;
  height: 250px;
  width: 400px;
  margin: 200px;
  padding: 20px;
  border-radius: 10px;

}
.para{
  color: #ef4444;
  font-family: "Roboto";
}